numpy
pandas
matplotlib
scipy
opencv-python
googletrans
SpeechRecognition 
pydub 
uvicorn 
fastapi
firebase_admin
tensorflow
keras
ffmpeg
sentence-transformers
httptools
websockets
starlette
uvloop
gunicorn

