numpy
pandas
matplotlib
scipy
opencv-python
pyaudio==0.2.11
googletrans
SpeechRecognition 
pydub 
uvicorn 
fastapi
firebase_admin
tensorflow
keras
ffmpeg
sentence-transformers
scikit-learn
sklearn
httptools
websockets
starlette
uvloop
gunicorn

