uvicorn
httptools
websockets
starlette
uvloop
gunicorn
python-dateutil
python-dotenv
threadpoolctl
typing_extensions
watchfiles
fastapi
numpy
pandas
matplotlib
scipy
opencv-python
googletrans
SpeechRecognition 
pydub 
uvicorn 
firebase_admin
tensorflow

